@use '../abstracts/' as *;

.article-tag {
    display: flex;
    flex-wrap: wrap;
    gap: pxToRem(6);
    list-style: none;
    margin: pxToRem(4) 0 0;
    padding: 0;

    &__tag {
        font-size: pxToRem(12);
        padding: pxToRem(2, 8);
        border-radius: pxToRem(20);
        background-color: rgba($color-success, 0.1);
        color: $color-success;
    }
}
