@use 'sass:math';
@use 'sass:meta';
@use 'sass:list';
@use 'variables' as *;

@function pxToRem($values...) {
    $result: ();

    @each $val in $values {
        $converted: $val;
        @if meta.type-of($val) == 'number' {
            $converted: math.div($val, $base_font_size) * 1rem;
        }
        $result: list.append($result, $converted, space);
    }

    @return $result;
}
