$font-family-primary: 'Inter', sans-serif;
$font-family-secondary: 'Circular Std', sans-serif;

$font-weight-bold: 700;
$font-weight-regular: 400;

$base_font_size: 10;

$border-default: 1px solid transparent;
$border-grey: 1px solid rgba(grey, 0.1);
$border-black: 1px solid black;

$font-family-base: $font-family-primary;
$font-size-base: 16px;
$line-height-base: 1.5;

$color-primary: #5d50c6;
$color-secondary: #f85e9f;
$color-accent: #ff5722;
$color-text: black;
$color-text-light: white;
$color-bg: white;
$color-success: #28a745;
$color-error: #dc3545;
$color-warning: #facd49;
$color-info: #17a2b8;
$color-border: rgba(grey, 0.2);
