@use '../abstracts' as *;

.article-form {
    @include flex-center;
    flex-direction: column;
    min-height: 100vh;
    padding: pxToRem(20);

    &__container {
        @include flex-center('center', center);
        flex-direction: column;
        width: 100%;
    }

    &__title {
        margin-bottom: pxToRem(24);
        font-size: pxToRem(28);
        color: $color-primary;
        font-weight: $font-weight-bold;
    }
}