@use '../abstracts' as *;

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    gap: pxToRem(20);

    span {
        color: $color-error;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: pxToRem(10);
        max-width: pxToRem(200);
        width: 100%;
    }

    input {
        width: 100%;
        padding: pxToRem(6);
    }

    div {
        width: 100%;
    }
}