<div class="signup">
    <div class="signup__content">
        <h2 class="signup__title">Sign Up</h2>

        <form class="form" data-ng-submit="signup.registerUser()">
            <div class="form__field">
                <label class="form__label" for="username">Username</label>
                <input
                    id="username"
                    class="form__input"
                    type="text"
                    placeholder="Enter your username"
                    data-ng-model="signup.user.username"
                />
                <span class="form__error" data-ng-if="signup.usernameError">
                    {{signup.usernameError}}
                </span>
            </div>

            <div class="form__field">
                <label class="form__label" for="email">Email</label>
                <input
                    id="email"
                    class="form__input"
                    type="email"
                    placeholder="Enter your email"
                    data-ng-model="signup.user.email"
                />
                <span class="form__error" data-ng-if="signup.emailError">
                    {{signup.emailError}}
                </span>
            </div>

            <div class="form__field">
                <label class="form__label" for="password">Password</label>
                <input
                    id="password"
                    class="form__input"
                    type="password"
                    placeholder="Enter your password"
                    data-ng-model="signup.user.password"
                />
                <span class="form__error" data-ng-if="signup.passwordError">
                    {{signup.passwordError}}
                </span>
            </div>

            <span
                class="form__error form__error--form"
                data-ng-if="signup.error"
            >
                {{signup.error}}
            </span>

            <button type="submit" class="btn btn--primary">
                Sign Up
            </button>
            <a ui-sref="login">Log In</a>
        </form>
    </div>
</div>
