@use '../abstracts' as *;

body {
    width: 100%;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: var(--color-text);
    background-color: var(--color-bg);
}

a {
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}